---
title: Air Strings
---

<h1>Air Strings</h1>


<ol>
	<li><h3>Install CLI</h3><p>
	<code>
		# brew install airstrings
	</code>
	</p></li>

	<li><h3>Push <code>Localizable.strings</code> to Google Sheets</h3><p>
	<code>
		# airstrings push -spreadhseetId &lt;GOOGLE_SPREADSHEET_ID&gt; -path ./en/Localizable.strings -sheetName "es/Localizable.strings"
	</code>
	</p></li>

	<li><h3>Translate in Google Sheets</h3><p>
	Share, collaborate, automate etc.
	</p></li>

	<li><h3>Pull <code>Localizable.strings</code> from Google Sheets</h3><p>
	<code>
		# airstrings pull -spreadhseetId &lt;GOOGLE_SPREADSHEET_ID&gt; -sheetName "es/Localizable.strings"  -path ./es/Localizable.strings
	</code>
	</p></li>
</ol>

<%= link_to(
  "Edit",
  "https://github.com/airstrings/airstrings.github.io/tree/middleman"
) %>
