---
title: Air Strings
---

<h1>Air Strings</h1>


<ol>
	<li><h3>Install CLI</h3><p>
	<code>
		# brew install airstrings
	</code>
	</p></li>

	<li><h3>Push Localizable.strings to Google Sheets</h3><p>
	<code>
		# airstrings push -spreadhseetId <GOOGLE_SPREADSHEET_ID> -path ./en/Localizable.strings -sheetName "es/Localizable.strings"
	</code>
	</p></li>

	<li><h3>Translate in Google Sheets</h3><p>
	Share, collaborate, automate etc.
	</p></li>

	<li><h3>Pull Localizable.strings from Google Sheets</h3><p>
	<code>
		# airstrings pull -spreadhseetId <GOOGLE_SPREADSHEET_ID> -path -sheetName "es/Localizable.strings" ./es/Localizable.strings
	</code>
	</p></li>
</ol>

<%= link_to(
  "Edit",
  "https://github.com/airstrings/airstrings.github.io/tree/middleman"
) %>
